.table-hover td {
  cursor: pointer;
}

.unread {
  /* color:rgb(29, 161, 242); */
  color: #a1173c;
  vertical-align: middle;
}
.read {
  color: #008951;
  vertical-align: middle;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
  background-color: rgb(241, 222, 220);
}
