
@import url('https://fonts.googleapis.com/css2?family=Niramit:wght@400;500;600&display=swap');

body {
  background-color:var(--my-background);
  color:var(--font-color, #212529);
  font-family: "Niramit", sans-serif, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
    --font-color:#212529;
    --clr-accent: #faa700;
    --my-background:#fff;
    /* #ecf0f1 */
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*******    generic class   ********/
.links{
    color:var(--font-color,#333);
    text-decoration: none;
}

.links:hover,
.links:focus{
    color:var(--font-color,#333);
    text-decoration: none;
}
.adjust-opacity{
    opacity: .8;
}
.adjust-opacity:hover,
.adjust-opacity:focus{
    opacity: 1;
}
.dark-mode{
    background-color:rgb(101, 119, 134);
    /* #ecf0f1 */
}
.space-between{
    display: flex;
    justify-content: space-between;
}

.side-margin{
    margin: 0 .5rem;
}

.split{
    display: flex;
    justify-content: space-around;
}